/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  color: #e3f7f7;
}

.App {
  text-align: center;
}

.Login-logo {
  height: 75px;
  width: auto;
  pointer-events: none;
  margin-top: 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-zoom infinite 5s ease-in-out;
  }
}

.App-header {
  background-color: #edffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 14px;
  color: #253236; 
  margin-top: 0;
  margin-bottom: 2;
}

h1 {
  font-size: 25px;
  color: #253236; 
  margin-bottom: 0;
}

@keyframes App-logo-zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.login-container {
  text-align: center;
  margin-top: 20px;
}

input {
  display: block;
  margin: 0 auto;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 300px;
  border: 1px solid #253236;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #253236;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #9cb4c0;
}
