/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  color: #253236;
  margin: 0; /* Reset default margin */
  background-color: #edffff; /* Set background color for the entire app */
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensure the entire viewport height is covered */
}

.Login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Login-logo {
  height: 75px;
  width: auto;
  margin-top: 200px; /* Adjust margin-top as needed */
}

.Login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container {
  text-align: center;
  margin-top: 20px;
}

.login-container input {
  display: block;
  margin: 0 auto;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 300px;
  border: 1px solid #253236;
  border-radius: 5px;
}

.login-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #253236;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #9cb4c0;
}