/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  color: #253236;
  margin: 0; /* Reset default margin */
  background-color: #edffff; /* Set background color for the entire app */
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensure the entire viewport height is covered */
}

.Login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Login-logo {
  height: 75px;
  width: auto;
  margin-top: 200px; /* Adjust margin-top as needed */
}

.Login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container {
  text-align: center;
  margin-top: 20px;
}

.login-container input {
  display: block;
  margin: 0 auto;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 300px;
  border: 1px solid #253236;
  border-radius: 5px;
}

.login-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #253236;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #9cb4c0;
}

.dashboard {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 100px; /* Width of the sidebar */
  background-color: #b0c4de; /* Darker shade of the background color */
  display: flex;
  flex-direction: column;
  padding: 20px 10px; /* Padding with less space horizontally */
  height: 100vh; /* Extend to the bottom of the page */
  box-sizing: border-box; /* Include padding in the height calculation */
}

.sidebar button {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #4682b4; /* Button background color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #1e90ff; /* Hover background color */
}

.content {
  flex: 1; /* Take remaining space in the dashboard */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Add padding to the content area */
}

.rectangles {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping of rectangles */
  gap: 20px; /* Gap between flex items */
  justify-content: center; /* Center the flex items horizontally */
  width: 100%;
}

.rectangle {
  flex: 1 1 calc(50% - 40px); /* Flex items with responsive width */
  max-width: 450px; /* Max width of each rectangle */
  height: 350px; /* Set height of each rectangle */
  background-color: #ccc;
  border: 1px solid #999;
  box-sizing: border-box; /* Include border in width/height calculations */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.rectangle h3 {
  margin: 0;
  font-size: 24px; /* Increase font size for titles */
  color: #253236;
}
